<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='logo.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Samuel Fronthaler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Hero Section -->
    <section class="hero">
        <h1 class="name">Samuel Fronthaler</h1>
        <a href="#about" class="scroll-down">↓</a>
        <a href="/programms" class="btn-programms">Programms</a>
    </section>

    <!-- About Section -->
    <section id="about" class="section">
        <h2>About Me</h2>
        <p>Hi, I'm Samuel Fronthaler, a 17-year-old developer from Austria. </p>
        <p>I study at HTL Anichstraße and build tools to improve productivity and efficiency in everyday life.</p>
        <p>I'm also the 2024 youth world champion in parkour. I love coding and parkour.</p>
        <p>When I'm coding i mostly work with python, html, css and sometimes vhdl.</p>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="section">
        <h2>Projects</h2>
        <div class="projects-list">
            <div class="project-card">
                <h3><a href="https://github.com/SamuDevHTL/venvy" target="_blank">Python Venv Manager (venvy)</a></h3>
                <p>A Python virtual environment manager to easily create, delete, and manage environments.</p>
            </div>
            <div class="project-card">
                <h3><a href="https://github.com/SamuDevHTL/difficulty_dictionary" target="_blank">Trick Dictionary</a></h3>
                <p>A dictionary used in the official Austrian parkour competitions to look up and learn tricks.</p>
            </div>
            <div class="project-card">
                <h3><a href="https://github.com/SamuDevHTL/code-snippets-app" target="_blank">Code Snippet Manager (PyQt)</a></h3>
                <p>A PyQt application to organize and manage your code snippets like a dictionary of code.</p>
            </div>
        </div>
    </section>

</body>
</html>

