<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='programms.css') }}">
</head>

<body>
    <!-- Main Container for the full screen layout -->
    <div class="main-container">
        <header>
            <h1>Programms</h1>
        </header>

        <!-- Central Navigation Menu -->
        <div class="menu">
            <ul>
                <li><a href="/dictionary">Difficulty Dictionary</a></li>
            </ul>
        </div>
   </div>
</body>

</html>
