<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='programms.css') }}">
</head>

<body>
    <a href="javascript:history.back()" class="back-btn">Back</a>

    <div class="main-container">
        <header>
            <h1>Programms</h1>
        </header>

        <div class="menu">
            <ul>
                <li><a href="/dictionary">Difficulty Dictionary</a></li>
            </ul>
        </div>
    </div>
</body>
</html>

