<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Samuel Fronthaler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <section class="section" id="projects">
        <h2>Projects</h2>
        <div class="projects-list">
            <div class="project-card">
                <h3><a class="project-link" href="https://github.com/SamuDevHTL/blackjack" target="_blank">Flask based Blackjack simulator</a></h3>
                <p>A Blackjack simulator built with Flask and Mysql, selfhosted through homeserver.</p>
            </div>
            <div class="project-card">
                <h3><a class="project-link" href="https://github.com/SamuDevHTL/clipgo" target="_blank">go terminal quickaccess database</a></h3>
                <p>CLI database to store and quickly get text into clipboard.</p>
            </div>
            <div class="project-card">
                <h3><a class="project-link" href="https://github.com/SamuDevHTL/prefix-terminal-calc" target="_blank">Python prefix terminal calculator</a></h3>
                <p>A python based terminal calculator which works with prefixes.</p>
            </div>
            <div class="project-card">
                <h3><a class="project-link" href="https://github.com/SamuDevHTL/venvy" target="_blank">Python Venv Manager (venvy)</a></h3>
                <p>A Python virtual environment manager to easily create, delete, and manage environments.</p>
            </div>
            <div class="project-card">
                <h3><a class="project-link" href="https://github.com/SamuDevHTL/difficulty_dictionary" target="_blank">Trick Dictionary</a></h3>
                <p>A dictionary used in the official Austrian parkour competitions to look up and learn tricks.</p>
            </div>
            <div class="project-card">
                <h3><a class="project-link" href="https://github.com/SamuDevHTL/code-snippets-app" target="_blank">Code Snippet Manager (PyQt)</a></h3>
                <p>A PyQt application to organize and manage your code snippets like a dictionary of code.</p>
            </div>
        </div>
        <div class="more-projects">
            <a href="/">← Back to Home</a>
        </div>
    </section>
</body>
</html> 